body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    height: 30%;
}

.logo, #menu{
    width: 20%;
}

#menu{
    height: 70%;
}

.logo{
    height: 100%;
}

header, #menu{
    background-color:rgb(39, 28, 100);
}

.menu-principal .lista li{
    color: white;
    list-style-type: none;
    padding: 6%;
    margin-left: -17.5%;
    box-shadow: 0 0 2px black;
    background-color: rgb(56, 38, 121);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.menu-principal .lista li:hover{
    background-color: rgb(78, 54, 165);
}


.conteiner{
    margin-top: -1.15%;
}

#nav1{
    background-color: rgb(189, 186, 186);
    margin-left: -17.8%;
}

#nav1 ul li{
    color: black;
    margin-left: 0;
    padding: 2%;
    background-color: transparent;
    box-shadow: 0 0 2px transparent;
}

#nav1 ul{
    height: inherit;
}

.desaparecer{
    display: none;
}

#menu .usuario p{
    color: white;
}

#menu .usuario{
    margin-left: 5%;
}